<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:include="fragments/layout :: head">
        <title id="title">Home • Sagen.App</title>
    </head>
    <body>
        <header th:include="fragments/layout :: header"></header>
        <div class="container">

            <div class="mt-5 mb-5">
                <h1 class="text-center page-header">Velkommen til Sagen.App</h1>
                <h1 class="text-center page-header lead">Velg en tjeneste for å gå videre</h1>
            </div>

            <div class="d-flex flex-wrap">

                <div class="col-md-6 col-lg-4 p-1">
                    <div class="bg-light rounded p-3">
                        <h2>Admin panel</h2>
                        <h2 class="lead">System for å administrere brukere og systemer</h2>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 p-1">
                    <div class="bg-light rounded p-3">
                        <h2>Admin panel</h2>
                        <h2 class="lead">System for å administrere brukere og systemer</h2>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 p-1">
                    <div class="bg-light rounded p-3">
                        <h2>Admin panel</h2>
                        <h2 class="lead">System for å administrere brukere og systemer</h2>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 p-1">
                    <div class="bg-light rounded p-3">
                        <h2>Admin panel</h2>
                        <h2 class="lead">System for å administrere brukere og systemer</h2>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 p-1">
                    <div class="bg-light rounded p-3">
                        <h2>Admin panel</h2>
                        <h2 class="lead">System for å administrere brukere og systemer</h2>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 p-1">
                    <div class="bg-light rounded p-3">
                        <h2>Admin panel</h2>
                        <h2 class="lead">System for å administrere brukere og systemer</h2>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 p-1">
                    <div class="bg-light rounded p-3">
                        <h2>Admin panel</h2>
                        <h2 class="lead">System for å administrere brukere og systemer</h2>
                    </div>
                </div>

            </div>
        </div>
        <footer th:include="fragments/layout :: footer"></footer>
    </body>
</html>
